
.list-group-item {
	position:relative;
}

.wiki-title {
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}


.wiki-title:hover {
	color: #1A1A1A;
	text-decoration: none;
}

.wiki-item {
	/*margin-top: 10px;*/
}

.player-wikis .me {
	background-color: #FFFF80;
}

.seconds-left {
	position: absolute;
	right: 50%;
	top:0px;
	height: 100%;
	font-size: 26px;
	border: 0px solid #383838;
	padding: 10px 15px;
}


.me-icon {
	position: absolute;
	right: 50px;
	top:5px;
	font-size: 26px;
}

.approval-icon {
	font-size: 12px;
	position: absolute;
	right: 50px;
	bottom:5px;
}