<template name="layout">
	<head>
	  <title>guess the wiki</title>
	  <link href='/css/bootstrap.min.css'>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>	
	<header>



		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ss-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Guess Wiki</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">

		        <li class="active">
		        	<a href="{{pathFor route='play'}}">
		        		Play 
		        		
		        		<span class="sr-only"></span>
		        	</a>
		        </li>
		        

		        <li>
		        	<a href="{{pathFor route='info'}}">
		        		Info
		        	</a>
		        </li>


		      </ul>

		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>




	</header>

	<body>

		<div class="container">



			{{> yield}}


		</div>

		
	</body>


</template>