<template name="info">
	<aside>
		<h2>Indice</h2>
		<ul>
			<li><a href="#info-game-descr">Descrizione del gioco</a></li>
			<li><a href="#info-start-game">Avvio partita</a></li>
			<li><a href="#info-begin-game">Inizio della partita</a></li>
			<li><a href="#info-approve-disapprove-wiki">Conferma delle parole</a></li>
			<li><a href="#info-round">Turni di gioco</a></li>
			<li><a href="#info-end-game">Fine della partita</a></li>
			<li><a href="#info-scoring">Punteggi</a></li>
			
		</ul>
	</aside>
	<article>


		<section id="info-game-descr">
			<header><h3>Descrizione del gioco</h3></header>
			<p>
				Guesswiki è un'applicazione che aiuta a giocare ad un semplice gioco che consiste nell'indovinare una parola scelta a caso dal dizionario.
				L'app assegna le parole a ciascun giocatore, scandisce i turni e tiene i conti dei punteggi.
				A turno un giocatore ha a disposizione un minuto per fare delle domande alla quale è possibile rispondere solo si o no.
				Lo scopo è quello di riuscire ad indovinare quante più parole possibili nei diversi turni.
			</p>
		</section>
<!-- ######################################################################## -->
		<section id="info-start-game">
			<header><h3>Avvio partita</h3></header>
			<b>Nuova partita</b>
			<p>
				Un giocatore può iniziare una nuova partita digitando il suo nome e premendo il tasto di avvio. 
				Viene generato un codice di 4 cifre che il giocatore può condividere con i suoi amici per permettere loro di unirsi al gioco.
			</p>

			<b>Partecipa ad una partita</b>
			<p>
				Un giocatore può partecipare ad una partita già avviata, inserendo il codice di 4 cifre che gli è stato fornito.
				E' necessario indicare anche un nome.
			</p>
		</section>
<!-- ######################################################################## -->
		<section id="info-begin-game">
			<header><h3>Inizio della partita</h3></header>
			<p>
				E' possibile avviare la partita raggiunti almeno i due giocatori.
				All'inizio del gioco, viene assegnata a ciascun giocatore una parola a caso, che egli dovrà indovinare.
				Ogni giocatore vedrà parola assegnata agli altri, ma non la sua!
			</p>
		</section>
<!-- ######################################################################## -->
		<section id="info-approve-disapprove-wiki">
			<header><h3>Parola da indovinare</h3></header>
			<p>
			L'applicazione propone ad ogni giocatore una parola che egli stesso dovrà indovinare.
			I suoi avversari hanno la possibilità di approvare o non approvare la parola assegnatagli. Qualora almeno la metà degli avversari approvi la parola, questa verrà assegnata al giocatore. Viceversa se almeno la metà degli avversari dovesse non approvarla, l'applicazione genera una nuova parola.
			</p>
		</section>
<!-- ######################################################################## -->
		<section id="info-round">
			<header><h3>Turno di gioco</h3></header>
			<p>
				A questo punto iniziano i turni di gioco. Ogni giocatore a turno ha a disposizione un minuto per fare delle domande agli avversari per arrivare a capire la parola ad esso assegnata.
				Il giocatore ha anche la possibilità di:
				<ul>
					<li>Dare la soluzione - il giocatore dovrà scrivere la parola che il sistema verificherà</li>
					<li>Passare il turno - il turno passa al giocatore successivo</li>
					<li>Arrendersi - il giocatore rinuncia a partecipare al turno. Potrà però partecipare nuovamente alla partita successiva</li>
				</ul>
			</p>
			<p>
				Al termine del turno, il gioco passa al giocatore successivo. Inizia così un altro turno.
			</p>
		</section>
<!-- ######################################################################## -->
		<section id="info-end-game">
			<header><h3>Fine della partita</h3></header>
			<p>
				La partita termina quando tutti i giocatori hanno indovinato la parola oppure si sono arresi. A questo punto è possibile iniziare una nuova partita.
			</p>
		</section>
<!-- ######################################################################## -->
		<section id="info-scoring">
			<header><h3>Punteggi</h3></header>
			<p>
				Il primo giocatore indovina la parola accumula i punti pari al numero dei giocatori partecipanti. Il secondo giocatore ne prende uno in meno e così via.
				I giocatori che si arrendono non hanno diritto ad alcun punto.
			</p>
		</section>



	</article>
</template>