<template name="playersList">

<!-- 		<h3>You</h3>
		<ul class="player-wikis list-group">
			{{#each players}}	
				{{#if eq _id playerId}}
					<li class="list-group-item">
						<button class="btn btn-default pull-right btn-xs" id="reset">Reset</button>
						{{#if isMaster}}<span class="glyphicon glyphicon-king" aria-hidden="true"></span>{{/if}}
						{{name}} 
						{{#if eq round.status 'started'}}{{score}}{{/if}}


					</li>
				{{/if}}
			{{/each}}
		</ul> -->


		<h3>Players</h3>
		<ul class="player-wikis list-group">
		{{#each players}}	


				<li class="list-group-item {{#if eq round.player _id}}me{{/if}}">
					
					{{#if eq round.status 'started'}}

						{{#if eq round.player _id}}
							<div class="seconds-left"> {{roundSecondsLeft}}</div> 
							<!--<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>-->
						{{/if}}

					{{/if}}


					{{#if eq _id playerId}}
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					{{/if}}					
					
					{{name}}


					<!-- PLAYER OFFLINE -->
					{{#if eq status 'offline'}}
						<span class="glyphicon glyphicon-offline" aria-hidden="true"></span>
					{{/if}}					



					{{#if eq round.status 'pending'}}
						<i>has joined</i>
					{{/if}}

				<!--
					{{#if isMaster}}
						<span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
					{{/if}}
				-->


					

					<span class="badge">{{score}}</span>

					{{#if ne round.status 'pending'}}			
						


							{{#if eq _id playerId}}
								{{#if hasSolvedTheWiki}}

									{{#with playerWiki _id}}
										<!-- 
											Stampa la wiki indovinata.
											Se il round non è ancora iniziato stampa i pulsanti per confermare o no la wiki degli altri giocatori
										 -->
										{{> wikiItem}}
									{{/with}}

								{{else}}

									<br/>Wait until it's your turn

								{{/if}}
							{{else}}
								
								{{#with playerWiki _id}}
									<!-- 
										Stampa la wiki da indovinare.
										Se il round non è ancora iniziato stampa i pulsanti per confermare o no la wiki degli altri giocatori
									 -->
									{{> wikiItem}}
								{{/with}}

							{{/if}}

						
					{{/if}}

				</li>

		{{/each}}
		</ul>

</template>