<template name="start">

	{{#if party}}

		<!--<b>Round status:</b> {{round.status}}<br>-->

			{{#if eq round.status 'pending'}}
				
				<div class="row">
					<div class="col-md-12 text-center"><h2>JOIN CODE {{party.joinCode}}</h2></div>
				</div>

				<div class="row">
					<div class="col-md-12 text-center"><i>Waiting for others joining..</i></div>
				</div>			

				<hr>




	<!-- 		<b>Party status:</b> {{party.status}}<br>
			<b>Round status:</b> {{round.status}}<br>
			<b>Round seconds left:</b> {{roundSecondsLeft}}<br> -->
			

				{{> playersList}}



				<!--{{#if amIMaster}}-->
					<hr>
					<button class="btn btn-block btn-lg btn-success begin">Begin</button>
				<!--{{/if}}-->



			{{/if}}



			{{#if eq round.status 'begun'}}
				
				<div class="row">
					<div class="col-md-12 text-center"><i>Party closed, nobody else can join. Let's vote the wikies!!</i></div>
				</div>

				<hr>


				{{> playersList}}

			{{/if}}



			{{#if eq round.status 'ready'}}

				<div class="row">
					<div class="col-md-12 text-center"><i>All wikies have been voted. Press start the button to start the game!</i></div>
				</div>

				<hr>


				{{> playersList}}

				<hr>

				<button class="btn btn-block btn-lg btn-success start">Start</button>
			{{/if}}





			{{#if eq round.status 'started'}}
				
				<!--
				<div class="row">
					<div class="col-md-12 text-center"><i>Round started</i></div>
				</div>
				<hr>
				-->
				


				{{#if hasSolvedTheWiki}}
					<h3 class="text-center">Wait until the round finish</h3>

				{{/if}}

				{{#if eq round.player playerId}}


					<!--
						Porzione visualizzata quando è il turno del giocatore
					-->

					<h3 class="text-center"><small><b>It's your turn</b></small><br/>{{roundSecondsLeft}}</h3>

					<hr>


					<div class="row">
						<div class="col-md-12 text-center"><h4>Give the solution</h4></div>
					</div>
					<div class="row">
						<div class="col-md-8 col-xs-8">
							<input type="text" class="form-control" id="solution" placeholder="Solution">
						</div>
				        <div class="col-md-4 col-xs-4">
				        	<button class="btn btn-success btn-block solve" type="button">Solve</button>
				        </div>					
					</div>


					<hr>

					<div class="row">
						<div class="col-md-6 col-xs-6">
							<button class="btn btn-default btn-block giveUp">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								Give Up
							</button>
						</div>
				        <div class="col-md-6 col-xs-6">
				        	<button class="btn btn-primary btn-block next" type="button">
				        		<span class="glyphicon glyphicon-fastforward" aria-hidden="true"></span>
				        		Pass
				        	</button>
				        </div>					
					</div>

				{{else}}


					<!--
						Porzione visualizzata quando NON è il turno del giocatore.
						Vengono mostrati gli altri player..
					-->

					{{> playersList}}

				{{/if}}



			{{/if}}





			{{#if eq round.status 'finished'}}
				<div class="row">
					<div class="col-md-12 text-center"><i>Round finished. The master can begin a new one!</i></div>
				</div>

				{{> playersList}}

				<!--{{#if amIMaster}}-->
					<hr>
					<button class="btn btn-block btn-lg btn-success begin">Begin</button>
				<!--{{/if}}-->
			{{/if}}







		<hr>
		<button class="btn btn-danger btn-block btn-xs" id="reset">Leave</button>



	{{else}} <!-- if party -->


		<div class="row">
			<div class="col-md-12 text-center"><h2>Name</h2></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input type="text" class="form-control" id="playerName" placeholder="Name">
			</div>
		</div>


		<hr>

		<div class="row">
        	<div class="col-md-12"><button class="btn btn-success btn-lg btn-block" type="button" id="create">New game</button></div>
		</div>
		
		<hr>

		<div class="row">
			<div class="col-md-12 text-center"><h2>Join</h2></div>
		</div>
		<div class="row">			
		    <div class="col-md-8 col-xs-8">
		    	<input type="text" class="form-control" placeholder="Join code" id="joinCode">
		    </div>
	        <div class="col-md-4 col-xs-4">
	        	<button class="btn btn-primary btn-block" type="button" id="join">Join</button>
	        </div>
		</div>


	{{/if}}

</template>