<template name="wikiItem">

	<br/>
	<a href="{{url}}" target="_blank" class="wiki-title">{{title}}</a>


<!-- <span class="wiki-status">{{status}}</span> -->

		
			{{#if eq status 'pending'}}

				<div class="approval-icon">	
					<button class="btn btn-success btn-sm" id="wiki-approve"><span class="glyphicon glyphicon-thumbs-up"></span></button> 

					<button class="btn btn-danger btn-sm" id="wiki-disapprove"><span class="glyphicon glyphicon-thumbs-down"></span></button> 

				</div>
	
			
			{{else}}

				{{#if eq status 'approved'}}
					<!--<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->

				{{else}}
					{{#if eq status 'guessed'}}
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					
					{{else}}
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					{{/if}}
				{{/if}}
			{{/if}}
			

</template>